.react-datepicker {
  font-family: $open-sans !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: $c-yellow !important;
}

.sep {
  width: 100%;
  height: 1px;
  border-top: 1px solid $c-outline;
  margin: 0.5rem 0;
}

#settings {
  margin-top: 50px;
  @import "settings";
}

#results {
  margin-top: 50px;
  .row {
    @import "card";
  }
}
@import "navbar";
@import "icons";
