.fa-search,
.fa-user-circle,
.fa-cog,
.fa-twitter,
.fa-facebook,
.fa-google,
.fa-times {
  font-size: 24px;
  color: $c-text;
}

.fa-google {
  font-size: 22px;
}

.fa-tags {
  color: $c-text;
}

.fa-calendar-alt {
  font-size: 20px;
  color: $c-text;
}

.fa-user-circle {
  font-size: 28px;
}
