@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:400,500");

$open-sans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;

//colors
$c-text: #4d4d4d;
$c-bg-color: #f7ede2;
$c-bg-alt: #fff;
$c-outline: #b5b5b5;
$c-green: #84a59d;
$c-blue: #2d4e64;
$c-yellow: #f6bd60;
$c-pink: #f5cac3;
$c-red: #f28481;

@mixin shadow {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

@mixin addpostShadow {
  -webkit-box-shadow: -3px 5px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 5px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 5px 18px 0px rgba(0, 0, 0, 0.2);
}

body {
  background: $c-bg-color;
  color: $c-text;
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/stripes.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
}

@import "app";
