nav.navbar {
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid $c-outline;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: auto;

  .navbar-brand {
    width: 160px;
    padding: 10px 0 10px 45px;
    img {
      min-width: 115px;
    }
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    .form-group {
      margin-bottom: 0;
      .form-control {
        font-size: 14px;
      }
    }
  }
  .login-container {
    border-left: 1px solid $c-outline;
    padding-left: 15px;
  }
  form {
    .fa-tags,
    .fa-calendar-alt {
      position: absolute;
      z-index: 100;
      right: 0;
    }
    > div,
    > a {
      margin-right: 10px;
      &.fa-search {
        margin-right: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  nav.navbar {
    .navbar-brand {
      padding-left: 15px;
    }
  }
}
